<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Targets.Splunk" />
        <add assembly="NLog.Extensions.AzureEventHub" />
    </extensions>
    <targets  async="true">
        <target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
        <!-- <target name="Splunk" -->
        <!--         xsi:type="SplunkHttpEventCollector" -->
        <!--         serverUrl="https://prd-p-txtzu.splunkcloud.com:8088" -->
        <!--         token="4b3ecd3e-d1b0-4033-bc54-416e10a152f2" -->
        <!--         channel="channel-guid" -->
        <!--         retriesOnError="0" -->
        <!--         batchSizeBytes="0" -->
        <!--         batchSizeCount="0" -->
        <!--         includeEventProperties="true" -->
        <!--         includeMdlc="false" -->
        <!--         includePositionalParameters="false" -->
        <!--         MaxConnectionsPerServer="10" -->
        <!--         IgnoreSslErrors="true"> -->
        <!--     <contextproperty name="host" layout="${machinename}" /> -->
        <!--     <contextproperty name="threadid" layout="${threadid}" /> -->
        <!--     <contextproperty name="logger" layout="${logger}" /> -->
        <!-- </target> -->
        <target xsi:type="AzureEventHub"
                name="AzureEventHub"
                connectionString="Endpoint=sb://eventhublog2801.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=baE5UrHNjFbaNGBMT9PQZ7e50YzSVi8EvHyhJ5oQnAw="
                layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring}"
                eventHubName="eventlog2801"
                PartitionKey="0">
            <userproperty name="exceptiontype" layout="${exception:format=type}" />   <!-- Multiple allowed -->
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
        <logger name="Microsoft.*" minlevel="Info" writeTo="lifetimeConsole" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <!-- <logger name="*" minlevel="Info" writeTo="Splunk" /> -->
        <logger name="*" minlevel="Info" writeTo="AzureEventHub" />
    </rules>
</nlog>