<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Targets.Splunk" />
    </extensions>
    <targets>
        <target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:tolower=true}\: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
        <target name="Splunk"
                xsi:type="SplunkHttpEventCollector"
                serverUrl="https://prd-p-txtzu.splunkcloud.com:8088"
                token="4b3ecd3e-d1b0-4033-bc54-416e10a152f2"
                channel="channel-guid"
                retriesOnError="0"
                batchSizeBytes="0"
                batchSizeCount="0"
                includeEventProperties="true"
                includeMdlc="false"
                includePositionalParameters="false"
                MaxConnectionsPerServer="10"
                IgnoreSslErrors="true">
            <contextproperty name="host" layout="${machinename}" />
            <contextproperty name="threadid" layout="${threadid}" />
            <contextproperty name="logger" layout="${logger}" />
        </target>
    </targets>
    
    <rules>
        <logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
        <logger name="Microsoft.*" minlevel="Info" writeTo="lifetimeConsole" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Info" writeTo="Splunk" />
    </rules>
</nlog>